
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <link href="~/Content/First.css" rel="stylesheet" />
    <link href="~/Content/list.css" rel="stylesheet" />
    <div id="First_All">
        <div id="First_top">
            <div id="top2">
                <ul class="grid">
                    <li class="grid_cell_1 "><a href="#">首页</a></li>
                    <li class="grid_cell_1 "><a href="#">吃货寻觅</a></li>
                    <li class="grid_cell_1 "><a href="#">吃货鉴赏</a></li>
                    <li class="grid_cell_1 "><a href="#">吃货论坛</a></li>
                </ul>
                
            </div>
        </div>
        <div id="First_center"></div>
        <div id="First_foot"></div>
    </div>

