
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/First.css" rel="stylesheet" />

<link href="~/Content/Lun.css" rel="stylesheet" />
<script src="~/Scripts/Lun3.js"></script>
<link href="~/Content/Pai.css" rel="stylesheet" />

<div id="First_All">


    <div id="shutter" class="shutter">
        <ul>
            <li><a href="#"><img src="~/images/banner1.jpg" alt="" /></a></li>
            <li><a href="#"><img src="~/images/banner2.jpg" /></a></li>
            <li><a href="#"><img src="~/images/banner4.jpg" alt="" /></a></li>
        </ul>
    </div>

    <script type="text/javascript">
<!--
        var shutterH = new Hongru.shutter.init('shutterH', {
            id: 'shutter'
        });
        var isIE = !!window.ActiveXObject;
        var isIE6 = isIE && !window.XMLHttpRequest;
        if (isIE) {
            if (isIE6 != "ie6") {

                changecss();

                window.onresize = function () {
                    changecss();
                }
            }
        }
        if (!isIE) {


            changecss();

            window.onresize = function () {
                changecss();
            }

        }
        function changecss() {
            var kuandu = document.documentElement.clientWidth;
            var shutterW = $("#shutter").width();
            var left = (kuandu - shutterW) / 2;
            $("#shutter").css("left", left);
        }
        // -->
    </script>'
    @* 瀑布流美食区域 *@
    <div id="First_center" >
        <div id="container">
            <img src="~/images/biaozhi.PNG" />
        <span class="word_5">
            美食区
        </span>
        <hr style=" border:1px solid gold" />
        </div>
            <div class="clearfix"> </div>
            <div class="header-grids" style="background-color:azure">
                <div class="col-md-4 header-grid-info">
                    <a href="/Way/WayLook">
                        <div class="header-grid gray">
                            <div class="header-grid-img gray-grid">
                                <img src="~/images/1.jpg" alt="">
                                <h3>sandwich</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    neque erat, iaculis faucibus laoreet nec
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 header-grid-info">
                    <a href="single.html">
                        <div class="header-grid">
                            <div class="header-grid-img">
                                <img src="~/images/2.jpg" alt="">
                                <h3>chinese food</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    neque erat, iaculis faucibus laoreet nec
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 header-grid-info">
                    <a href="single.html">
                        <div class="header-grid blue">
                            <div class="header-grid-img blue-grid">
                                <img src="~/images/3.jpg" alt="">
                                <h3>pizza</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    neque erat, iaculis faucibus laoreet nec
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="clearfix"> </div>
            </div>

      

        </div>

    <div id="First_foot"></div>
</div>

